<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="name" id="">
        <input type="text" name="title" id="">
        <div>
            <ul>
                <li>
                    <input type="number" name="hp" id="">
                    <input type="number" name="atk" id="">
                    <input type="number" name="spd" id="">
                    <input type="number" name="def" id="">
                    <input type="number" name="res" id="">
                    <input type="range" name="" id="">
                </li>
            </ul>
        </div>
        <input type="checkbox" name="isLegend" id="">
        <input type="checkbox" name="isMythic" id="">
        <button type="submit">Edit hero</button>
    </form>
</body>
</html>