.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#heroes-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#heroes-list ul li {
  margin: 10px;
  color: antiquewhite;
}

#heroes-list ul li a {
  text-decoration: none;

}

#heroes-list ul li a div.hero-icon {
  width: 75px;
  height: 75px;
  padding: 2%;
  /* background-color: red; */
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#heroes-list ul li a div.hero-icon div {
  width: 110%;
  height: 110%;
  position: absolute;
  background: no-repeat url("../src/assets/img/5-template.png");
  background-size: contain;
  background-position: bottom;

}

#heroes-list ul li a div.hero-icon img {
  width: 100%;
  height: 100%;

}

/*  */

#hero-info {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background: no-repeat url("../src/assets/img/BG_DetailedStatus.png");
  background-position: center;
  background-size: cover;
}

#hero-info .heroImg {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;

  /* height: 100%; */
}

#hero-info,
#hero-info * {
  font-family: "System";
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

#hero-info .nav-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;
  position: inherit;
  z-index: 1;
}

#hero-info .nav-buttons div {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#hero-info .nav-buttons button {
  width: 30%;
  height: 6vh;
  border: none;
  background: no-repeat url("../src/assets/img/delete-button.png");
  background-size: contain;
  color: #fff;
}

#hero-info .nav-buttons img {
  width: 40%;
}

#hero-info section {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 60vh;
  width: 100%;
}

#hero-info section .hero-head {
  width: 100%;
  height: 22vh;
  /* background-color: rgb(255, 174, 0); */
  display: flex;
  justify-content: space-between;
}

#hero-info section .hero-head .name-title {
  width: 60%;
  height: 100%;
  background: no-repeat url("../src/assets/img/names-bg.png");
  background-size: cover;
  position: relative;
}

#hero-info section .hero-head .name-title h3 {
  position: absolute;
  width: 100%;
  text-align: center;

}

#hero-info section .hero-head .name-title h3:first-child {
  top: 18%;

}

#hero-info section .hero-head .name-title h3:last-child {
  top: 50%;

}

#hero-info section .hero-head .myth-legend-status {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#hero-info.edit-hero input {
  color: #b1b1b1;
  text-shadow: none;
  background-color: hsl(201, 66%, 16%);
}

#hero-info section .hero-head .myth-legend-status label input {
  visibility: hidden;
  display: none;
}

#hero-info section .hero-head .myth-legend-status label img {
  width: 100%;
}

#hero-info section .hero-head .myth-legend-status label {
  width: 50%;
}

#hero-info section .hero-head .myth-legend-status img {
  width: 50%;
}

#hero-info section .hero-stats {
  width: 100%;
  border-radius: 9%;
  box-shadow: inset 0px 0px 0px 2px #678d96;
  box-sizing: border-box;
  background-color: hsla(201, 66%, 16%, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 27vh;

}

#hero-info section .hero-stats .list-stat {
  width: 50%;
  display: flex;
  justify-content: center;

}

#hero-info section .hero-stats .list-stat div:last-child {
  color: #fef896;
}

#hero-info section .hero-stats ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

}

#hero-info section .hero-stats ul li {
  background-color: #325d64;
  border-radius: 30px;
  width: 100%;
  padding: 2% 4%;
  margin-right: 0;
  margin-bottom: 1%;
  display: flex;
  box-shadow: inset 0px 0px 0px 3px #678d96;
  box-sizing: border-box;
  justify-content: space-around;

}

#hero-info section .hero-stats ul li input {
  width: 60%;
}

#hero-info section .hero-stats .the-ultatk input {
  width: 100%;
}

#hero-info section .hero-stats .the-ultatk {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#hero-info section .hero-stats .the-ultatk img {
  width: 30%;
  height: 30%;
}

#hero-info section .hero-stats .the-ultatk div {
  display: flex;
  align-items: center;
}

#hero-info section .hero-stats .the-ultatk p {
  font-size: 14px;
}

.edit-button {
  width: 100%;
  display: flex;
  margin-top: 2vh;
  justify-content: center;
}

.edit-button-enable button {
  width: 42%;
  height: 6vh;
  background: no-repeat url("./assets/img/confirm-button.png");
  /* background-color: yellowgreen; */
  background-size: contain;
  border: none;
}

.edit-button-enable button:active {
  width: 42%;
  height: 6vh;
  background: no-repeat url("./assets/img/confirm-button-click.png");
  background-size: contain;
  border: none;

}

.edit-button-disable button:disabled {
  width: 42%;
  height: 6vh;
  opacity: 0.6;
  background: no-repeat url("./assets/img/confirm-button-disable.png");
  /* background-color: yellowgreen; */
  background-size: contain;
  border: none;
}